<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="short_sleep" value="5000" />
    <add key="refresh_delay" value="360000" />
    <add key="posturl_article" value="http://120.25.204.250：54321/">
    </add>
    <add key="posturl_task" value="http://120.25.204.250：9537/">
    </add>
    <add key="posturl_register" value="http://120.25.145.20:34543/api/register" />
    <add key="redirect_srv_url" value="http://120.25.145.20:34544/redirect" />
    <add key="intercept_webpage" value="mp.weixin.qq.com/s">
    </add>
    <add key="intercept_readingnum_json" value="mp.weixin.qq.com/mp/getappmsgext">
    </add>
    <add key="intercept_jsreport" value="mp.weixin.qq.com/mp/jsreport">
    </add>
    <add key="intercept_appmsg_comment" value="mp.weixin.qq.com/mp/appmsg_comment">
    </add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <defaultProxy>
      <proxy />
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="20" />
    </connectionManagement>
  </system.net>
</configuration>